/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./../img/salon-f.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    height: 100px;
    background-color: rgb(247, 237, 234);
    background: linear-gradient( rgb(231, 206, 198), rgb(247, 237, 234))

}
.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;

}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;

}
.navbar img {
    height: 95px;
    width: 100px;
    margin-top: 4vh;
    cursor: pointer;
    margin: 0;

}
h1 {
    color: rgb(212, 159, 134);
    font-size: 45px;
    margin-top: 15px;
    font-style: italic;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;

}
h3{
    color: #9f7947;
    width: 150px;
    height: 30px;
    background-color: #e0c694;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    
}


.ver-carrito {
    font-size: 25px;
    margin-right:20px;
    margin-top: 3.5hv;
    cursor: pointer;
}

.shop-content {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 75px 60px ;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    row-gap: 20px;
}

.card  {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.card img{
    width: 100%;
    height: 250PX;
    box-shadow: 0px -1px 20px 3px  rgb(99, 81, 64);
    overflow: hidden;
    
}

.precio {
    color: rgb(75, 60, 51);
    font-size: 20px;
    background-color: #e2d4c1;
    margin-top: 10px;
}

.card button {
    border-radius: 10px;
    border: none;
    padding: 12px;
    background-color: #cf945d;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;

}
.card button:hover{
    opacity: 0.8;
    background-color: #97805d;
    color: wheat;
}

/*Modal*/
.modal-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
    ;
}
.modal-content{
    width: 300px;
    max-height: 80vh;
    background-color:  #c9af8d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 9;
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: center;
    background-color: #422a1a;
    color: #c9af8d;
    width: 300px;
}

.modal-header-button {
    cursor: pointer;
}


.modal-cont >div >img {
    height: 120px;
    width: 120px;
}

.total-compra {
    font-size: 25px;
    padding: 15px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
}

.registrar-compra-btn {
    border-radius: 8px;
    border-color:#f3ede7;
    padding: 12px;
    background-color: #be9a79;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    overflow: hidden;
    
}
.registrar-compra-btn:hover {
    background-color: #795731;
    color: #ccc;
}

/* Estilo para evento Registrar compra*/


.formulario-compra {
    width: 400px;
    height: 350px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #c9af8d;

}

.formulario-compra input[type="text"],
.formulario-compra input[type="email"],
.formulario-compra input[type="tel"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.label {
    color: rgba(240, 232, 232, 0.842);
    width: 150px;
    height: 20px;
    background-color:#9f7947;
    border-radius: 5px;
}

.btn-confirmar {
    border-radius: 5px;
    border-color: #422a1a;
    padding: 5px;
    background-color: #cf945d;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
}

.btn-confirmar:hover {
    background-color: #422a1a;
    color: #c5b9b1;
}